:80 {
    root * C:\Users\USER\OneDrive\桌面\RAG_project-main\RAG_project-main\frontend\vue\dist
    file_server
    try_files {path} /index.html

    handle /api/* {
        reverse_proxy 127.0.0.1:8000
    }
}